@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alliance No.1";
  src: url("/font/Degarism Studio - Alliance No.1 Light.otf") format("otf"),
    url("/font/Degarism Studio - Alliance No.2 Light.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Alliance No.1", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropbox::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa602;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa602;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: white !important; /* Inactive color */
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Active color */
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  background-image: url("/icon/pen.svg");
  background-size: 25px 25px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00aeffab;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00aeffab;
}

input:checked + .slider:before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.gradient-flow {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: gradientAnimation 1.5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}